@use '../../../../src/app/location/resources/StartEndGeoDef.css';
@use '../../../../src/app/location/resources/StartDistDirGeoDef.css';
@use '../../../../src/app/location/resources/PointDef.css';
@use 'Station';

$width: 360px;
.location {
  .v-map {
    height: 400px;
    margin: 10px 0;
    border: solid 1px #ccc;
  }
  .nav-pills {
    margin-bottom: 8px;
  }
  h4:first-child {
    margin-top: 0;
  }
  [data-dojo-attach-point='verifyMapBtn'] {
    margin-top: 10px;
    width: $width;
    margin-bottom: 15px;
  }
  .alert {
    width: $width;
  }
}
