{
    "extends": [
        "agrc",
        "plugin:react/recommended",
        "plugin:cypress/recommended"
    ],
    "rules": {
        "no-magic-numbers": "off",
        "object-curly-spacing": "off",
        "no-underscore-dangle": "off",
        "object-property-newline": "off",
        "camelcase": "off",
        "no-alert": "off",
        "indent": "off",
        "no-invalid-this": "off"
    },
    "globals": {
        "L": false,
        "Promise": true,
        "ReactDOM": true,
        "React": true
    },
    "env": {
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
