{
    "extends": "agrc",
    "rules": {
        "no-magic-numbers": "off",
        "object-curly-spacing": "off",
        "no-underscore-dangle": "off",
        "object-property-newline": "off",
        "camelcase": "off",
        "no-alert": "off"
    },
    "globals": {
        "L": false,
        "Promise": true
    }
}
