_SpecRunner.html
_src/app/**/*.css
.grunt/
*.pyc
*.sde
dist/
node_modules/
.env
src/
scripts/Scripts/settings/ImportLog
deploy/*
.DS_Store
scripts/Scripts/settings/secrets.py

# Pro project
*.lock
maps/Default.gdb
maps/.backups
maps/Index
maps/scratch.gdb
maps/ImportLog
