<div>
    <!-- HEADER -->
    <div data-dojo-attach-point='header' data-dojo-type='app/Header'></div>

    <!-- MAIN CONTENT -->
    <div class='main-container container'>
        <div data-dojo-attach-point='newEventDiv'></div>
    </div>

    <!-- HIDDEN DIALOGS -->
    <div data-dojo-type="app/SettingsDialog"></div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            Built by <a href="http://gis.utah.gov/developer" title="AGRC" target='_blank'>AGRC</a>
        </div>
    </footer>
</div>
