<div>
  <b>${name}</b>
  <div class="btn-group" data-toggle="buttons" data-dojo-attach-point="tabBtnContainer">
    <label class="btn btn-primary active" data-dojo-attach-event="onclick: changeTab">
      <input type="radio" name="tab" />
      1
    </label>
  </div>
  <div class="btn-group">
    <button
      class="btn btn-default btn-sm hidden"
      data-dojo-attach-point="removeTabBtn"
      disabled
      data-dojo-attach-event="onclick: removeTab"
    >
      <i class="glyphicon glyphicon-minus" data-dojo-attach-point="icon"></i>
    </button>
    <button class="btn btn-default btn-sm" data-dojo-attach-event="onclick: onAddTabClick">
      <i class="glyphicon glyphicon-plus" data-dojo-attach-point="icon"></i>
    </button>
  </div>
</div>
