.point-def {
  .form-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }

  .form-text {
    font-size: small;
    text-align: end;
  }

  label {
    margin-bottom: 0;
  }

  &__primary-label {
    width: 50px;
  }
}
