@import 'FilteringSelectForGrid.css'
@import 'MoreInfoDialog.css'
@import 'Tag.css'
@import 'TagsContainer.css'
@import 'Health.css'

.catch
    [data-dojo-attach-point='gridDiv']
        margin-top 10px

    .dgrid-header
        right 0px

    .dgrid-scroller
        overflow-y auto

    .dgrid-content:focus
        outline none

    .field-CATCH_ID
        width 35px

    .dgrid-grid
        border-left none
        border-right none
        border-bottom none

    .dgrid-row-odd
        background-color #f9f9f9

    .dgrid-selected
        background-color #E1EBF5

    .dgrid-cell.batch
        background-color #F9FFC0

    .dgrid th:focus,
    .dgrid-scroller:focus,
    .dgrid td:focus
        outline none

    .dgrid
        .field-FISH_ID,
        .field-PASS_NUM,
        .field-EVENT_ID,
        .field-NOTES
            display none

        .dgrid-cell
            vertical-align middle

        .combobox-container
            margin 0

        .dgrid-row.bold
            font-weight bold

    .dgrid-content .dgrid-cell-padding
        height 40px

    .btn-right-container>div
        display inline-block

    .btn-right-container .input-append
        margin-bottom 0

    .btn-right-container .popover-content
        padding 5px

    .btn-primary
        background-color #337ab7 + 25

        &.active
            background-color #286090 - 25

div[data-dojo-attach-point='batchForm'] .btn
    width 100%

.claro
    .dijitSpinner
        .dijitArrowButtonInner
            background-position: -142px center
        .dijitUpArrowButtonHover
            .dijitArrowButtonInner
                background-position: -142px center
        .dijitDownArrowButton
            .dijitArrowButtonInner
                background-position: -37px
        .dijitSpinnerButtonContainer
            width 16px
            height 32px
