.station-point-def .control-group {
    width: 50%;
}
.station-point-def .control-group.pull-left input {
    width: 98%;
}
.station-point-def label[data-dojo-attach-point='xGroup'] {
    margin-left: 15px;
}