<div>
    <h4>Equipment</h4>
    <ul class="nav nav-pills">
        <li class="active"><a href="#spec_backpack" id="backpackTab" data-toggle='tab'>Backpack</a></li>
        <li><a href="#spec_canoeBarge" id="canoeBargeTab" data-toggle='tab'>Canoe/Barge</a></li>
        <li><a href="#spec_raftBoat" id="raftBoatTab" data-toggle='tab'>Raft/Boat</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="spec_backpack">
            <div data-dojo-type="app.method.BackpacksContainer"
                data-dojo-attach-point='backpacksContainer'></div>
        </div>
        <div class="tab-pane fade" id="spec_canoeBarge">
            <div data-dojo-type="app.method.CanoeBargesContainer"
                data-dojo-attach-point='canoeBargesContainer'></div>
        </div>
        <div class="tab-pane fade" id="spec_raftBoat">
            <div data-dojo-type="app.method.RaftBoatsContainer"
                data-dojo-attach-point='raftBoatsContainer'></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class='control-label'># Anodes</label>
                <input type="number" 
                    data-dojo-attach-point='numberTxt' 
                    value='1'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Anode Diameter (centimeters)</label>
                <input type="number"
                    data-dojo-attach-point='anodeDiameterTxt'
                    min='1'
                    max='750'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Stock Diameter (centimeters)</label>
                <input type="number"
                    data-dojo-attach-point='stockDiameterTxt'
                    min='0.1'
                    max='2.54'
                    step='0.01'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Cathode Length (centimeters)</label>
                <input type="number"
                    data-dojo-attach-point='cathodeLengthTxt'
                    min='0.1'
                    max='2.54'
                    step='0.01'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Cathode Diameter (centimeters)</label>
                <input type="number"
                    data-dojo-attach-point='cathodeDiameterTxt'
                    min='0.1'
                    max='2.54'
                    step='0.01'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Machine Resistance (ohms)</label>
                <input type="number"
                    data-dojo-attach-point='machineResistenceTxt'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Waveform</label>
                <select data-dojo-attach-point="waveformSelect"
                    class='form-control'>
                </select>
            </div>
            <div class="form-group">
                <label class='control-label'>Voltage (volts)</label>
                <input type="number" 
                    data-dojo-attach-point="voltsTxt"
                    min='1'
                    max='300'
                    step='0.01'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Duty Cycle (%)</label>
                <input type="number" 
                    data-dojo-attach-point="dutyCycleTxt"
                    min='0'
                    max='100'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Frequency (hertz)</label>
                <input type="number"
                    data-dojo-attach-point='frequencyTxt'
                    min='1'
                    max='200'
                    class='form-control'>
            </div>
            <div class="form-group">
                <label class='control-label'>Amps</label>
                <input type="number"
                    data-dojo-attach-point='ampsTxt'
                    min='0.1'
                    max='20.0'
                    step='0.1'
                    class='form-control'>
            </div>
        </div>
    </div>
</div>