<div>
    <div class='form-inline'>
        <div class="form-group">
            <select data-dojo-attach-point='modelSelect' class='form-control'></select>
        </div>
        <div class="form-group">
            <select data-dojo-attach-point="arrayTypeSelect" class='form-control'></select>
        </div>
        <div class="form-group small">
            <input type="number" 
                data-dojo-attach-point='numberTxt' 
                value='1' class='form-control'>
        </div>
        <div class="form-group medium">
            <select data-dojo-attach-point='cathodeTypeSelect' class='form-control'></select>
        </div>
        <button class='btn btn-default btn-sm' data-dojo-attach-point='btn'>
            <span data-dojo-attach-point='icon' class='glyphicon glyphicon-plus'></span>
        </button>
    </div>
</div>