<div>
    <div class="alert alert-danger hidden" data-dojo-attach-point="validateMsg"></div>
    <div class="alert alert-success hidden" data-dojo-attach-point="successMsgContainer">
        The report has been submitted successfully.
    </div>
    <div class='tab-content'>
        <div class='tab-pane fade in active' id='locationTab'>
            <div data-dojo-attach-point='locationTb' data-dojo-type='app/location/Location'></div>
        </div>
        <div class='tab-pane fade' id='methodTab'>
            <div data-dojo-attach-point="methodTb" data-dojo-type="app/method/Method"></div>
        </div>
        <div class="tab-pane fade" id="catchTab">
            <div data-dojo-attach-point="catchTb" data-dojo-type="app/catch/Catch"></div>
        </div>
        <div class="tab-pane fade" id="habitatTab">
            <div data-dojo-attach-point="habitatTb" data-dojo-type="app/habitat/Habitat"></div>
        </div>
    </div>
</div>
