<div>
    <h4>Coordinate Type</h4>
    <div class='btn-group' data-toggle='buttons'>
        <label class='btn btn-primary active' data-dojo-attach-point='coord_utm83Btn' >
            <input type='radio' name='coord_options' value='utm83'>UTM (NAD83)
        </label>
        <label class='btn btn-primary' data-dojo-attach-point='coord_llBtn' >
            <input type='radio' name='coord_options' value='ll'>Lat/Long
        </label>
        <label class='btn btn-primary' data-dojo-attach-point='coord_utm27Btn' >
            <input type='radio' name='coord_options' value='utm27'>UTM (NAD27)
        </label>
    </div>
</div>