<div>
    <div class="row">
        <div class='col-md-4'>
            <div data-dojo-attach-point='waterIDGroup' class='form-group'>
                <label class='control-label'>Waterbody ID</label>
                <input data-dojo-attach-point='waterIDBox' type='text' placeholder='IVAR030-01' class='form-control'>
                <span data-dojo-attach-point='waterIDBoxTxt' class='help-block'></span>
            </div>
            <p>or</p>
            <div data-dojo-attach-point='reachGroup' class='form-group'>
                <label class='control-label'>Reach Code (14 digit)</label>
                <input data-dojo-attach-point='reachBox' type='text' placeholder='16020308002571' class='form-control'>
                <span data-dojo-attach-point="reachBoxTxt" class="help-block"></span>
            </div>
        </div>
    </div>
</div>