@import 'StartEndGeoDef.css';
@import 'StartDistDirGeoDef.css';
@import 'PointDef.css';
@import 'VerifyMap.css';
.location .v-map {
  height: 800px;
  margin: 10px 0;
  border: solid 1px #ccc;
}
.location .nav-pills {
  margin-bottom: 8px;
}
.location h4:first-child {
  margin-top: 0;
}
.location [data-dojo-attach-point='verifyMapBtn'] {
  margin-top: 10px;
  width: 360px;
  margin-bottom: 15px;
}
.location .alert {
  width: 360px;
}
