.station .modal .modal-dialog {
  width: 80%;
}
.station .modal input {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 30px;
}
.station [data-dojo-attach-point='mapDiv'] {
  width: 100%;
  height: 250px;
}
.station .verify-map {
  width: 100%;
  height: 100%;
}
.station .modal-body form {
  margin-bottom: 0;
}
.station .modal-body {
  max-height: 530px;
}
.station .combobox-container {
  width: 300px;
}
.station [data-dojo-attach-point='successMsg'] {
  display: none;
}
.station h4 {
  margin: 0;
}
