.data-grid {
  tr {
    &.bold {
      font-weight: bold;

      input {
        font-weight: bold;
      }
    }

    td {
      vertical-align: middle;
    }
  }
  td input {
    width: 100%;
    border: none;
    background-color: transparent;
    &:focus {
      background-color: white;
    }
  }
}
