.new-collection-event {
  overflow-x: hidden;
  > .nav-tabs a {
    font-size: 20px;
  }
  .heading {
    font-size: 18px;
  }
  & > .row {
    padding-left: 15px;
  }
  & > .alert {
    margin-bottom: 10px;
  }
  .alert-success .btn.pull-right {
    margin-top: -7px;
  }
}
