.habitat
    .text-danger .badge
        background-color #b94a48

    .text-success .badge
        background-color #468847

    .dgrid
        .field-temp_id, .field-TRANSECT_ID
            display none
