@use 'App';
@use 'components/NewCollectionEvent';
@use 'components/SummaryReport';
@use 'components/ComboBox';
@use 'components/Header';
@use 'components/OtherOptionHandler';
@use 'components/location/VerifyMap';
@use 'components/location/Location';
@use 'components/location/PointDef';
@use 'components/location/StreamSearch';
@use 'components/method/Method';
@use 'components/DataGrid';
@use 'components/catch/Catch';
@use 'components/GridTab';
@use 'components/habitat/Habitat';

@use '../node_modules/react-toastify/scss/main.scss';
@use '../node_modules/leaflet/dist/leaflet.css';
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/leaflet-loading/src/Control.Loading.css');
@import url('../node_modules/spin.js/spin.css');

.error-boundary {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .alert {
    width: 50%;
  }
}
