<div>
    <div class="form-group">
        <label class='control-label'>Eye Condition</label>
        <select data-dojo-attach-point="eyeConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Gill Condition</label>
        <select data-dojo-attach-point="gillConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Pseudobranches Condition</label>
        <select data-dojo-attach-point="pseudoConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Thymus Condition</label>
        <select data-dojo-attach-point="thymusConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Fat Index</label>
        <select data-dojo-attach-point="fatSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Spleen Condition</label>
        <select data-dojo-attach-point="spleenConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Hind Gut Condition</label>
        <select data-dojo-attach-point="hindGutConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Kidney Condition</label>
        <select data-dojo-attach-point="kidneyConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Liver Condition</label>
        <select data-dojo-attach-point="liverConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Bile Color</label>
        <select data-dojo-attach-point="bileConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Gender</label>
        <select data-dojo-attach-point="genderSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Reproductive Condition</label>
        <select data-dojo-attach-point="reproductiveConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Hematocrit Count (%)</label>
        <input type="number" min='0' max='100' data-dojo-attach-point='hematocritTxt' class='form-control'>
    </div>
    <div class="form-group">
        <label class='control-label'>Leukocrit Count (%)</label>
        <input type="number" min='0' max='100' data-dojo-attach-point='leukocritTxt' class='form-control'>
    </div>
    <div class="form-group">
        <label class='control-label'>Plasma Protein (g/100 ml)</label>
        <input type="number" min='0' max='100' data-dojo-attach-point='plasmaTxt' class='form-control'>
    </div>
    <div class="form-group">
        <label class='control-label'>Fin Condition</label>
        <select data-dojo-attach-point="finConditionSelect" class='form-control'></select>
    </div>
    <div class="form-group">
        <label class='control-label'>Opercle Condition</label>
        <select data-dojo-attach-point="opercleConditionSelect" class='form-control'></select>
    </div>
</div>